@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

header {
	padding: 20px;
}

nav>ul {
	overflow: hidden;
	list-style: none;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

nav>ul>li {
	float: left;
	width: 150px;
	text-align: center;
	height: 35px;
	line-height: 35px;
}

#content {
	padding: 20px;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #333;
}

hr {
	border: 0;
	border-top: 1px solid #CCC;
	margin: 20px 0;
}

td {
	padding: 5px;
}

table.border {
	border-collapse: collapse;
}

table.border th, table.border td {
	border: 1px solid #DDD;
	padding: 10px;
}

a.border {
	background-color: #EEE;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid #DDD;
	margin: 5px;
}