@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/*구글 아이콘 넣기*/
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
        url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
        url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}

/*폰트 스타일넣기*/
/*로고폰트*/
@font-face {
    font-family: "Cafe24SsurroundAir";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*본문 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

:root {
    --background-color: #f8f8f8;
    --yello-color: #fdef7b;
    --footer-color: #cac0ae;
    --point-color: #785024;
    --text-sans: "Noto Sans KR ", sans-serif;
    --text-logo: "Cafe24SsurroundAir";
}

select {
    border: none;
}



.searchType {
    display: flex;
    padding-top: 80px;

}


.dropdown {
    padding-top: 20px;
    margin-bottom: -25px;
    padding-left: 65px;

}


.boxSearch input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}

.boxSearch {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.boxSearch input#search {
    width: 300px;
    height: 50px;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.boxSearch .icon {
    position: absolute;
    margin-left: 250px;
    margin-top: 15px;
    z-index: 1;
    color: #4f5b66;
}

.curved {
    padding: 5px;
    font-size: 12px;
    border: none;
    color: #aaa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.article h1,
.container h1 {
    font-size: 3.5rem;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}

.inner {
    overflow: hidden;
}

.inner div {
    width: 100%;
    height: 100%;
}

.dropdown {
    margin-left: -70px;
    padding-right: 44%;
}

.select {
    display: flex;
    float: right;
}

.select a {
    padding: 2px;
    text-decoration: none;
    color: #aaa;
}

.select a:hover {
    color: black;
}

.section ul li {
    padding: 5px;
    margin-left: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.inner img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-crew div:hover,
.inner div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

h5 {
    font-weight: bold;
}

.card-body a {
    background: rgb(253, 239, 123);
    border: none;
    color: black;
}

.col-md-4 {
    padding-bottom: 50px;
}

.section {
    padding: 200px 0;
}

.container .row {
    --bs-gutter-x: 2.5rem;
    margin-right: calc(var(--bs-gutter-x) * -1.2);
    margin-left: calc(var(--bs-gutter-x) * -0.7);
}

.btn {
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 7px;

}

p {
    padding-bottom: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;

}


a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

div p {
    overflow: hidden;
    width: 100%;
    height: 20px;
}

.search-box {
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.search-box:hover>.search-txt {
    width: 160px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.search-box input {
    padding: 5px;
}

.search-btn {
    color: black;
    float: right;
    border-radius: 50%;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.search-txt {
    border: white;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box {}

.crew-insert {
    padding-left: 64%;
}

.crew-insert a {
    text-decoration: none;
    color: black;
}

.crew-insert a:hover {
    color: cornflowerblue;
}


.page {
    padding-left: 42%;
}

.pagination {
    position: absolute;
}


ul>li>a .card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    transition: all .45s;
}

ul>li>a:hover .card::after {
    opacity: 1;
}


.section .article {
    border-bottom: 1px solid #aaa;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.article div {
    padding-bottom: 13px;
}

.section .article .article-crew {
    text-align: center;
    margin: 0 -30px;
    float: left;
    padding: 10px;
}

div::after {
    display: block;
    content: '';
    clear: both;

}

.card {
    width: 25rem;
    height: 35rem;
}

.card img {
    width: 100%;
    height: 350px;
}


.section .article img {
    border-radius: 70%;
    overflow: hidden;
    width: 70%;
    height: 150px;
}

.section .article span,
.section .popular_crew span {
    font-size: 40px;
}

/*헤더*/
/*header*/
.oly i {
    font-size: 25px;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 20%;
}

.action .icon {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-left: 35px;
}

.action .menu {
    position: absolute;
    top: 110px;
    right: 40px;
    padding-right: 30px;
    backdrop-filter: bulr(10px);
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 0 0 15px 15px;
    transition: 0.5s;
    visibility: hidden;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
    border-top: none;
    opacity: 1;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home .header h1 {
    font-size: 1.5rem;
    display: inline;
    font-family: var(--text-logo);
}

.action .menu.active {
    top: 100px;
    visibility: visible;
    opacity: 1;
    margin-right: -20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.action .menu ul li {
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: var(--text-logo);
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.action .menu ul li:hover a {
    color: var(--point-color);
}

.header {
    width: 100%;
    padding-top: 20px;
    left: 0;
    padding-bottom: 20px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 33;
    background-color: #fff;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.header a {
    position: relative;
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-right: 70px;
}

.header .menu a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: black;
    transition: all 0.3s ease-out;
}

.header .nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: black;
    transition: all 0.5s ease-out;
}

.header .menu a::after {
    bottom: 15px;
}

.header a:hover::after {
    width: 100%;
}

.header:hover {
    backdrop-filter: bulr(10px);
    background-color: var(--yello-color);
    transition: all 0.5s ease;
    z-index: 100;
}

.nav ul {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    margin-left: 36px;
    font-family: var(--text-logo);
    font-size: 17px;
}

/*footer*/
.footer {
    padding: 70px 0;
    background-color: #cac0ae;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.footer ol,
.footer ul {
    padding-left: 0;
}

.footer-col {
    width: 20%;
    text-align: center;
}

.footer-col h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
    color: white;
    font-weight: bold;
}

.footer-col li {
    list-style: none;
    padding: 5px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 9;
    height: 2px;
    bottom: -7px;
    box-sizing: border-box;
    background-color: white;
    width: 80px;
}

.footer-col .footer-01::before {
    width: 160px;
}

.footer-col .footer-02::before {
    width: 100px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 20px;
}