@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.article h1,
.container h1 {
    font-size: 3.5rem;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inner {
    overflow: hidden;
}

.inner div {
    width: 100%;
    height: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.inner img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-crew div:hover,
.inner div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

h5 {
    font-weight: bold;
}

.card-body a {
    background: rgb(253, 239, 123);
    border: none;
    color: black;
}

.col-md-4 {
    padding-bottom: 50px;
}

.section {
    padding: 200px 0;
}

.container .row {
    --bs-gutter-x: 2.5rem;
    margin-right: calc(var(--bs-gutter-x) * -2.7);
    margin-left: calc(var(--bs-gutter-x) * -0.6);
}

.btn {
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 7px;

}

p {
    padding-bottom: 30px;
}


a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

div p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 20px;
}

.search-box {
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.search-box:hover>.search-txt {
    width: 160px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.search-box input {
    padding: 5px;
}

.search-btn {
    color: black;
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.search-txt {
    border: white;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box h1 {
    padding-right: 50%;
}

.action .icon {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-left: 35px;
}

.action .menu {
    position: absolute;
    top: 80px;
    right: 90px;
    padding: 20px;
    backdrop-filter: bulr(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home .header h1 {
    padding: 10px 30px 0 130px;
    font-size: 1.5rem;
    display: inline;

}

.action .menu.active {
    top: 70px;
    visibility: visible;
    opacity: 1;
    margin-right: -20px;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #fff;
}

.action .menu ul li {
    list-style: none;
    margin: -10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a {
    color: #ff5d94;
}

.header {
    width: 100%;
    min-width: 1280px;
    padding-top: 20px;
    left: 0;
    padding-bottom: 40px;
    line-height: 60px;
    display: flex;
}

.header a {
    position: relative;
    text-decoration: none;
    color: black;
}

.header .menu a::after,
.header .nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: black;
    transition: all .5s ease-out;
}

.header .menu a::after {

    bottom: 2px;

}

.header a:hover::after {
    width: 100%;
}

.header:hover {
    backdrop-filter: bulr(10px);
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.5s ease;
    z-index: 100;
}

.header .nav {
    padding-left: 55%;
}

.nav ul {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
    font-family: 'Philosopher', sans-serif;
}

.nav ul li {
    margin-left: 36px;
}

.nav ul li a {
    columns: #432;
}

.action .icon {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-left: 35px;
}

.action .menu {
    position: absolute;
    top: 80px;
    right: 90px;
    padding: 20px;
    backdrop-filter: bulr(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home .header h1 {
    padding: 10px 30px 0 130px;
    font-size: 1.5rem;
    display: inline;

}

.action .menu.active {
    top: 70px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #fff;
}

.action .menu ul li {
    list-style: none;
    margin: -10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a {
    color: #ff5d94;
}

.header {
    width: 100%;
    min-width: 1280px;
    top: 0;
    left: 0;
    padding-bottom: 40px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.header a {
    position: relative;
    text-decoration: none;
    color: black;
}

.header .menu a::after,
.header .nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: black;
    transition: all .5s ease-out;
}

.header .menu a::after {

    bottom: 2px;

}

.header a:hover::after {
    width: 100%;
}

.header:hover {
    backdrop-filter: bulr(10px);
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.5s ease;
    z-index: 100;
}

.nav {

    padding: 0 5%;
}

.nav ul {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Philosopher', sans-serif;
}

.nav ul li {
    margin-left: 36px;
    list-style: none;
}

.nav ul li a {
    columns: #432;
}

.page {
    padding-left: 45%;
}

.footer {
    padding: 70px 0;
    background-color: #cac0ae;
    flex-wrap: wrap;
    display: flex;
}

.footer-col {
    width: 30%;
    text-align: center;
    padding-left: 50px;

}

.footer-col h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
    color: white;
    font-weight: bold;
}

.footer-col li {
    list-style: none;
    padding: 5px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 10;
    height: 2px;
    bottom: -10px;
    box-sizing: border-box;
    background-color: white;
    width: 120px;
}


.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 20px;
}

ul>li>a .card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    transition: all .45s;
}

ul>li>a:hover .card::after {
    opacity: 1;
}


.section .article {
    border-bottom: 1px solid #aaa;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.article div {
    padding-bottom: 13px;
}

.section .article .article-crew {
    text-align: center;
    margin: 0 -30px;
    float: left;
    padding: 10px;
}

div::after {
    display: block;
    content: '';
    clear: both;

}


.section .article img {
    border-radius: 70%;
    overflow: hidden;
    width: 70%;
    height: 150px;
}

.section .article span,
.section .popular_crew span {
    font-size: 40px;
}