@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container .header h1 {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}


button {
    padding: 5px;
    width: 20%;
    background-color: transparent;
    border: 1px solid #aaa;
    cursor: pointer;
}

p {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#home {
    background-image: url(../images/메인1.jpg);
    min-height: 100vh;
}


.header {
    padding-left: 7%;
    padding-top: 30px;
    width: 100%;
    min-width: 1280px;
    top: 0;
    left: 0;
    line-height: 60px;
    padding-bottom: 20px;
}

.header a {
    position: relative;
    padding-bottom: 10px;
}

.header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: black;
    transition: all .5s ease-out;
}

.header a:hover::after {
    width: 100%;
}

.header:hover {
    backdrop-filter: bulr(10px);
    background-color: rgba(207, 201, 201, 0.25);
    transition: all 0.5s ease;
    z-index: 100;
}


ul {
    list-style: none;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.nav ul {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-left: 66%;
    margin-top: -60px;
    list-style: none;
    font-family: 'Philosopher', sans-serif;
}

.nav ul li {
    margin-left: 36px;
}

.nav ul li a {
    columns: #432;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.footer {
    padding: 70px 0;
    background-color: #cac0ae;
    flex-wrap: wrap;
    display: flex;
    padding-left: 13%;
}

.footer-col {
    width: 30%;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
    color: white;
    font-weight: bold;
}

.footer-col li {
    padding: 5px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 10;
    height: 2px;
    bottom: -10px;
    box-sizing: border-box;
    background-color: white;
    width: 120px;
}


.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 20px;
}

.gallery {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.gallery ul {
    font-size: 0;
}

.gallery ul>li {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
}

.gallery ul>li>a {
    display: block;
    width: auto;
    text-decoration: none;
    margin: 5px;
}

.gallery .card {
    position: relative;
    overflow: hidden;
}

.gallery ul>li>a .card .top {
    position: absolute;
    bottom: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    transition: all .35s;
}

.gallery ul>li>a:hover .card .top {
    bottom: 52%;
}

.gallery ul>li>a .card .bottom {
    position: absolute;
    top: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 12px;

    transition: all .35s;
}

.gallery ul>li>a:hover .card .bottom {
    top: 52%;
}

ul>li>a .card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

ul>li>a:hover .card::after {
    opacity: 1;
}

.section .gallery .card-text {
    font-size: 16px;
    text-align: left;
    padding: 20px;
    color: #666;
}

.section .gallery .card img {
    width: 100%;
}

.section .article {
    border-bottom: 1px solid #aaa;
}

.section .article .card {
    text-align: center;

}

.section .gallery .card,
.section .article .card {
    float: left;
    padding: 10px;
}

.container .section {
    padding: 12% 15%
}

div::after {
    display: block;
    content: '';
    clear: both;

}


.section .article img {
    border-radius: 70%;
    overflow: hidden;
}

.section .article span,
.section .popular_crew span {
    font-size: 40px;
}

.section .popular_crew img {
    padding: 10px
}