<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.6/examples/offcanvas/">

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/offcanvas.css}" rel="stylesheet">





<style>
	.bg_ornage{
		background-color: orange;
	}
	
	.bg_red{
		background-color: red;
	}
	
	.nav-link{
		color: white!important;
	}
</style>    