@charset "UTF-8";


#all {
	font-family: var(--text-sans);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("../../images/member/main.jpg") no-repeat center;
	background-size: cover;
}

#all::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 100vh;
}

.reg_box {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reg_box a {
	color: #FDEF7B;
	text-decoration: none;
}

.reg_box p {
	margin-bottom: 10px;
	color: #E2E2E2;
}

a:visited {
	color: #FDEF7B;
}

.reg_box h1 {
	font-size: 32px;
	font-weight: 700;
	color: #FDEF7B;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 30px;
}

/* 입력창 영역 */
.int-area {
	width: 350px;
	position: relative;
}

.int-area:first-child {
	margin-top: 0;
}

.int-area input, .int-area select {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	color: #fff;
	/* 입력창 누르면 칸 보더 없애기*/
	/* outline:none;  */
	margin-bottom: 5px;
}

.int-area select {
	font-size: 14px;
	color: #999;
}

.select_opt {
	height: 57.67px;
}

#month {
	position: absolute;
	left: 0;
	top: -1px;
	padding-bottom: 14.2px;
}

/* 입력창 안에 있는 글씨 */
.int-area label {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 14px;
	color: #999;
	transition: all .5s ease;
}

/*  red 안먹음  */
.int-area label.warning {
	color: red;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}


/* label 색과 위치 */
.int-area input:focus+label, .int-area input:valid+label, .int-area select:focus+label,
	.int-area select:valid+label {
	top: -2px;
	font-size: 13px;
	color: #166cea;
}

.box2 {
	max-width: 350px;
	margin: 20% 10% 20% 10%;
}

.reg_box .logo {
	text-align: center;
}

.etc {
	padding: 10px 0 10px 0;
	text-align: center;
	border-bottom: 1px solid #E2E2E2;
	color: #E2E2E2;
}



.btn-area input {
	margin-right:8px;
	width: 188px;
	height: 41px;
	background-color: #FDEF7B;
	font-size: 15px;
	font-weight: 600;
	color: black;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.loginbtn{
	display:flex;
	align-items:center;
	margin-top:10px;
	justify-content: center; 
}
#naver_id_login{
	margin-top:4.5px;
}

.birth {
	display: table;
	table-layout: fixed;
}

.table_cell {
	display: table-cell;
}

/*비동기통신*/
.display_none {
	display: none;
}
.color_yellow{
	color:  #FDEF7B;
}
.color_red {
	color: red;
}
#loadingimg,#loadingimg2,#loadingimg3 {
	height: 20px;
}
