@charset "UTF-8";

#profile {
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
}

table {
	width: 100%;
}

form {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 50px;
}

.section {
	padding-top: 100px;
	background-color: rgb(240, 240, 240);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1000px;
	margin: 5% 15% 5% 15%;
}

.nav2 {
	text-align: left;
	width: 20%;
	min-width: 150px;
	background-color: white;
	padding: 10px 0 0 30px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 8px 0 0 8px;
}

.nav2 ol, .nav2 li {
	padding-left: 0;
}

.nav2 li {
	padding-top: 15px;
}

.nav2 a {
	color: black;
	text-decoration: none;
}

.text_bold {
	font-weight: bold;
}

.edit_section {
	min-width: 600px;
	background-color: white;
	padding: 35px 50px 35px 50px;
	border-top: 1px solid rgb(220, 220, 220);
	border-bottom: 1px solid rgb(220, 220, 220);
	border-right: 1px solid rgb(220, 220, 220);
	border-radius: 0 8px 8px 0;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

#hiking {
	height: 200px;
	overflow: hidden;
}

.edit_section label {
	font-weight: bold;
	min-width: 100px;
	display: block;
	font-size: 15px;
}

.edit_section input {
	margin-bottom: 15px;
	font-size: 11px;
	height: 35px;
}

.edit_section input[type="submit"] {
	background-color: rgb(70, 70, 70);
	max-width: 200px;
	height: 40px;
	font-size: 15px;
	color: white;
}

.nav2 .remove_input {
	min-width: 250px;
}

.nav2 td {
	line-height: 2.5rem;
}

.deleteBtn {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding: 0 7px 0 7px;
    background-color: rgb(253, 239, 123);
}
