@charset "UTF-8";

.inner ul{
	padding: 0;
}

.tag-item {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  background-color: rgb(253, 239, 123);
  color: #000;
  border-radius: 10px;
  display: inline-block;
  padding: 4px 7px;
  margin-right: 6px;
  font-size: 13px;
}

/* select 추가  */
.searchType {
	position: relative;
	width: 130px;
	height: 42px;
	line-height: 40px;
	border: 1px solid #606976;
	border-radius: 4px;
	text-transform: uppercase;
	background: #fff;
}

.searchType label {
	position: absolute;
	width: 100%;
	font-size: .86em;
	color: #606976;
	top: 0;
	left: 0;
	padding: 0 5%;
	cursor: pointer;
}

.searchType label:after {
	content: '▼';
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: .76em;
	color: #fff;
	text-align: center;
	background: #606976;
}

.searchType select {
	width: 100%;
	height: 20px;
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter: alpha(opacity = 0);
}

/* 추가 끝 */
.paging-div {
	padding: 75px 320px 0px 10px;
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.searchType {
	display: flex;
}

.dropdown>h1 {
	padding-bottom: 10px;
}

#selectSearch {
	background: var(- -background-color);
	padding-top: 40px;
}

.search-drop {
	display: flex;
	padding-top: 100px;
	margin-right: -127px;
}

.boxSearch input#search:hover, .container-1 input#search:focus,
	.container-1 input#search:active {
	outline: none;
	background: var(- -background-color);
}

.boxSearch {
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.boxSearch input#search {
	width: 200px;
	height: 43px;
	border: none;
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: var(- -background-color);
}

.boxSearch .icon {
	position: absolute;
	margin-left: 170px;
	margin-top: 11px;
	z-index: 1;
	color: #4f5b66;
}

select {
	border: none;
}

select:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.curved {
	padding: 10px;
	font-size: 12px;
	border: none;
	color: #aaa;
	margin-right: 15px;
}

.clicked {
	background-color: rgb(253, 239, 123);
	color: black;
}

.section {
	background-color: var(- -background-color);
}

.section .article h1, .container h1 {
	font-size: 3.5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	position: relative;
}

.section .inner {
	overflow: hidden;
}

.section .inner div {
	width: 100%;
	height: 100%;
}

.section .dropdown {
	padding-right: 480px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section .select {
	display: flex;
	float: right;
}

.section .select a {
	padding: 2px;
	text-decoration: none;
	color: #aaa;
}

.section .select a:hover {
	color: black;
}

.section ul li {
	padding: 5px;
	margin-left: 5px;
}

.section .inner img {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section .article-crew div:hover, .inner div:hover {
	opacity: 0.8;
	transition: all ease-in-out 100ms;
}

.section h5 {
	font-weight: bold;
}

.section .card-body a {
	background: rgb(253, 239, 123);
	border: none;
	color: black;
}

.section .col-md-4 {
	padding-bottom: 50px;
}

.section {
	padding: 200px;
}

.section .container .row { -
	-bs-gutter-x: 2.5rem;
	margin-right: calc(var(- -bs-gutter-x)* -1.2);
	margin-left: calc(var(- -bs-gutter-x)* -0.7);
}

.section .btn {
	padding: 10px;
	width: 30%;
	cursor: pointer;
	border-radius: 7px;
}

.section p {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.section a {
	text-decoration: none;
	cursor: pointer;
}

.section li {
	list-style: none;
}

.section div p {
	overflow: hidden;
	width: 100%;
	height: 20px;
}

.section .search-box {
	padding-top: 25px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.section .search-box:hover>.search-txt {
	width: 160px;
	padding: 0 6px;
}

v

.section .search-box:hover>.search-btn {
	background: white;
}

.section .search-box input {
	padding: 5px;
}

.section .search-btn {
	color: black;
	float: right;
	border-radius: 50%;
	padding-top: 25px;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.section .search-txt {
	border: white;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}

.page {
	padding-left: 42%;
}

.pagination {
	position: absolute;
}

.section .crew-insert {
	float: right;
}

.section .crew-insert a {
	text-decoration: none;
	color: black;
}

.section .crew-insert a:hover {
	color: cornflowerblue;
}

.section ul>li>a .card::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	opacity: 0;
	transition: all .45s;
}

.section ul>li>a:hover .card::after {
	opacity: 1;
}

.section .article {
	padding-bottom: 30px;
	border-bottom: 1px solid #aaa;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

.section .article div {
	padding-bottom: 13px;
}

.section .article .article-crew {
	text-align: center;
	float: left;
	padding: 20px 20px 0px 10px;
}

.section div::after {
	display: block;
	content: '';
	clear: both;
}

.section .card {
	width: 25rem;
	height: 35rem;
}

.section .card img {
	width: 100%;
	height: 350px;
}

.section .article img {
	border-radius: 70%;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

.section .article span, .section .popular_crew span {
	font-size: 40px;
}

.text-bold {
	font-weight: bold;
}