* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a {
    text-decoration: none;
    color: black;
}

.wrapper div {
    padding: 20px 0;
}


.footer div {
    text-align: center;

}

.wrapper {
    padding: 10% 20%;
    padding-bottom: 10%;

}

.crew-info,
.crew-hash,
.crew-name {
    border-bottom: 1px solid #aaa;
}

.crew-name div {
    margin-bottom: -20px;

}

.crew-name input {
    padding: 5px;
    width: 40%;
}

.crew-img {
    display: flex;
    border-bottom: 1px solid #aaa;
}

.crew-img span {
    padding-right: 70%;
    text-align: center;
}


.submit input {
    padding: 5px;
    width: 10%;
    float: right;

}

#home .header h1 {
    padding-left: 8%;
    padding-top: 30px;
    font-size: 1.5rem;

}

.header {
    width: 100%;
    min-width: 1280px;
    top: 0;
    left: 0;
    line-height: 60px;
    padding-bottom: 30px;
    z-index: 999;
    position: fixed;
}

.header a {
    position: relative;
    padding-bottom: 10px;
}

.header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: black;
    transition: all .5s ease-out;
}

.header a:hover::after {
    width: 100%;
}

.header:hover {
    backdrop-filter: bulr(10px);
    background-color: rgba(207, 201, 201, 0.25);
    transition: all 0.9s ease;
    z-index: 100;
}


ul {
    list-style: none;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.nav ul {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-left: 70%;
    margin-top: -70px;
    list-style: none;
    font-family: 'Philosopher', sans-serif;
}

.nav ul li {
    margin-left: 36px;
}

.nav ul li a {
    columns: #432;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.footer {
    padding: 70px 0;
    background-color: #cac0ae;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10px;
}

.footer-col {
    width: 30%;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
    color: white;
    font-weight: bold;
}

.footer-col li {
    padding: 5px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 10;
    height: 2px;
    bottom: -10px;
    box-sizing: border-box;
    background-color: white;
    width: 120px;
}


.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 20px;
}