<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Guestbook</display-name>
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

  	<!-- Servlet 등록  -->
  	<servlet>
  	    <!-- 톰캣  -->
  		<servlet-name>JdbcDriverLoad</servlet-name>
  		<servlet-class>guest.jdbc.JdbcDriverLoad</servlet-class>
  		
  		<!-- JdbcDriverLoad 클래스를 건드릴 필요없음  -->
  		<init-param>
  		<param-name>jdbcdriver</param-name>
  		<param-value>com.mysql.cj.jdbc.Driver</param-value>
  		</init-param>
  		
  		<!-- 시작할때 한번만 실행  -->
  		<load-on-startup>1</load-on-startup>
  	</servlet>
</web-app>