@charset "UTF-8";


body {
	font-family: var(--text-sans);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("../../images/member/main.jpg") no-repeat center;
	background-size: cover;
}

body::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.login-form {
	position: relative;
	z-index: 2;
}

.login-form a {
	color: #FDEF7B;
	text-decoration: none;
}

.login-form a:visited {
	color: #FDEF7B;
}

.login-form h1 {
	font-size: 32px;
	font-weight: 700;
	color: #FDEF7B;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 30px;
}

/* 입력창 영역 */
.int-area {
	/* width:400px; */
	width: 350px;
	position: relative;
	/* margin-top:10px; */
}

.int-area:first-child {
	margin-top: 0;
}

.int-area input {
	width: 110%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	color: #fff;
	/* 입력창 누르면 칸 보더 없애기*/
	/* outline:none;  */
	margin-bottom: 5px;
}

/* 입력창 안에 있는 글씨 */
.int-area label {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 14px;
	color: #999;
	transition: all .5s ease;
}

/*  red 안먹음  */
.int-area label.warning {
	color: red;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}

/* 아이디랑 비번 안치고 로그인 누르면 글자 흔들림 */
@
keyframes warning { 0% {
	transform: translateX(-8px);
}

25
%
{
transform
:
translateX(
8px
);
}
50
%
{
transform
:
translateX(
-8px
);
}
75
%
{
transform
:
translateX(
8px
);
}
}

/* label 색과 위치 */
.int-area input:focus+label, .int-area input:valid+label {
	top: -2px;
	font-size: 13px;
	color: #166cea;
}

/* 아이디 기억하기 */
.remember-id {
	display: flex;
	height: 50px;
	line-height: 50px;
}

.remember-id input {
	width: 20px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	margin: 15px 15px;
}

.remember-id div {
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	color: #FDEF7B;
}

/* 로그인 버튼 영역 */
.btn-area {
	margin-top: 10px;
}

.btn-area input {
	width: 100%;
	height: 40px;
	background: #FDEF7B;
	font-size: 15px;
	font-weight: 600;
	color: #545454;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

/* 아이디 찾기 비번 찾기 */
.caption {
	margin-top: 20px;
	text-align: center;
}

.caption a {
	font-size: 13px;
	color: #FDEF7B;
	text-decoration: none;
}


/* 회원가입 하기 */
.join-us {

}

.join-us input {
	margin-right:8px;
	width: 188px;
	height: 41px;
	background-color: #E2E2E2;
	font-size: 15px;
	font-weight: 600;
	color: black;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.loginbtn{
	display:flex;
	align-items:center;
	margin-top:10px;
	justify-content: center; 
}
#naver_id_login{
	margin-top:4.5px;
	text-align:center;
}
