@font-face {
  font-family: abster;
  src: url(..//font/abster-webfont.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img{
  background-color: yellow;
  float: right;
}

div {
  display: block;
}

.container {
  position: relative;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/메인1.jpg); */

}


.header-left {
  float: left;
  width: 205px;
}

.nav {
  float: right;
  text-align: center;
}

.container .header {
  position: absolute;
  width: 100%;
  min-width: 1280px;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 50px;
  transition: all 0.5s ease;
  padding-bottom: 20px;
  padding-right: 20px;
  font-family: 'STIX Two Text', serif;
  font-weight: bold;
}

/*이 요소가 좌우로 붙어서 출력이되게*/
/*justify-content: space-between;
/*중앙 정렬*/
/*align-items: center; */

.container .header h1 a {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-family: 'STIX Two Text', serif;

}

.container .nav ul li {
  /*가로로 정렬*/
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  padding-right: 20px;
  padding: 0 20px;
}

.container .nav ul li a {
  text-decoration: none;
  color: black;
}

.container .nav ul .category>li:hover {
  display: block;

}

.container .hero {
  /*무조건 정중앙에 위치하게*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
  position: absolute;
  left: 15%;
  top: 130%
}

.container .hero p {
  font-size: 70px;
  margin-bottom: 20px;
  width: 50%;
}

#dynamic {
  position: relative;
  /* 글씨가줄어들떄마다 커서표시 줄어들기 */
  display: inline-block;
}

/* 가상요소만들기 */
/* 커서 표시 오른쪽으로 만들기 */
#dynamic::after {
  /* content: ""; */
  display: block;

  /* 항상 오른쪽에 위치 */
  position: absolute;
  top: 0;
  right: 20px;
  width: 4px;
  height: 50px;
  background-color: yellow;
}

/* active가 생기면 일시적으로 감춰지게 */
#dynamic.active::after {
  display: none;
}

.main_2{
  background-color: #FDEFA7;

}
.main_3{
  padding: 30px;

}
.card2 img{
  padding-top: 90px;
  margin-left: 100px;
}
.card3{
  float: left;
}


.footer {
  padding: 70px 0;
  background-color: #aaa;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 30%;
  padding: 0 15px;
  
}

.footer-col h3 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  
}

.footer-col h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  
}
.footer-col ul li{
  display: block;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}