.navi {
    list-style-type: noen;
    width: 150px;

    margin: 0;
    padding: 0;
    background-color: #39F;
}

.navi li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navi>li {
    float: left;
}

.navi>li>a {
    padding: 10px 50px;
}

a {
    background-color: #39f;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: center;
    padding: 10px;
}

li a:hover {
    background-color: #33f;
    color: white;
}

.navi li ul {
    /* << li 하위의 ul = 서브메뉴 */
    display: none;
}

.navi li:hover ul {
    display: block;
}

.navi li ul {
    opacity: 0;
}