@charset "UTF-8";

.selectArea {
  margin: 10px;
}
.selectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0px;
  column-gap: 0px;
}
.img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}
.img:hover {
  opacity: 0.7;
}
.selectList span {
  padding-top: 10px;
  padding-left: 15px;
}
th,td{
	text-align: center;
}
