@charset "UTF-8";


.card-text {
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp:3;
   /* 라인수 */
   -webkit-box-orient: vertical;
   word-wrap: break-word;
}

.display_none {
	display: none;
}

.text_bold {
	font-weight: bold;
}

.color_blue {
	color: rgb(73, 149, 248);
}

#profile {
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
	text-align: left;
	margin: 0;
}

#commentMng {
	width: 20px;
}

.section {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	background-color:var(--background-color);
}

p {
	font-size: 13px;
}

.box {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1000px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.card {
	width: 50%;
	box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0/ 10%);
}

.card #cardImg {
	width: 100%;
	height: 500px;
}

.card-body {
	padding: 3rem 3rem;
}

.crew_name_section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.crew_name_section a {
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
}

.join_section a, .join_section button {
	font-size: 14px;
	border-color: rgb(220, 220, 220);
	background-color: rgb(253, 239, 123);
}

.card_name_section .btn {
	border-color: rgb(220, 220, 220);
	height: 30px;
}

.crew_section, .crew_information {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.crew_section {
	padding: 10px 10px 30px 10px;
}

.crew_box {
	width: 50%;
}

.crew_img {
	padding-right: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#crew_info {
	padding-left: 10px;
	width: 40%;
	min-width: 300px;
}

#crew_info {
	padding-left: 10px;
	width: 40%;
	min-width: 300px;
}

#crew_info h3 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 0;
}

.crew_introduction, .crew_hashtag {
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 0;
}

.crew_information {
	padding-top: 5px;
	padding-bottom: 5px;
	justify-content: center;
	justify-content: center;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 20px;
}

.crew_information span {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.crew_information p, .crew_information img {
	padding-bottom: 5px;
	margin-bottom: 0;
}

.crew_captain, .crew_number {
	border-right: 1px solid rgb(220, 220, 220);
}

.comment_section {
	width: 50%;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	padding: 10px 10px 10px 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0/ 10%);
}

.comment_section>table {
	display: flex;
}

.comment_table {
	display: flex;
	flex-direction: column;
}

.comment_section td {
	padding: 10px 10px 10px 10px;
	border-bottom: 0.7px solid rgb(222, 222, 222);
}

.comment_section img {
	margin-left: 15px;
}

.comment_section p {
	margin-bottom: 0;
}

.comment_section .content {
	text-align: left;
}

.comment_section .date {
	margin-right: 15px;
}

.comment_section ul {
	padding-bottom: 10px;
}

#nickname {
	text-align: left;
	min-width: 50px;
	font-weight: bold;
}

.date {
	text-align: left;
	color: rgb(182, 182, 182);
}

.content {
	width: 80%;
}

.pagination {
	display: flex;
	margin-bottom: 0;
}

.page-link {
	padding: .20rem .40rem;
	font-size: 11px;
	color: grey;
}

.input_section {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.input_section input[type="text"] {
	margin-right: 13px;
	font-size: 13px;
}

.input_section input[type="submit"] {
	font-size: 15px;
	border-color: rgb(221, 221, 221);
}

.btn1 {
	color: rgb(73, 149, 248);
	font-weight: bold;
}

.input_control {
	display: flex;
	padding-bottom: 10px;
}

.commentMenuBox {
	position:relative;
}

.commentMenu {
	overflow-y: auto;
	position: absolute;
  top: -30px;
  right: -80px;
  margin-top: 7px;
	background-color: white;
	z-index: 100;
	width: 80px;
	padding: 10px 0;
	border-radius: 15px;
	transition: 0.5s;
	visibility: hidden;
	font-size: 14px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
	opacity: 0; 
	overflow-y: auto;
}

.commentMenu.active {
	visibility: visible;
	opacity: 1;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.commentMenu ul, .commentMenu li {
	padding-left: 0px;
	padding-bottom: 0px;
	width: 50px;
}

.commentMenu ul li {
	list-style: none;
	direction: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	line-height: 30px;
}

.commentMenu ul li a {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s;
}

.commentMenu ul li:hover a {
	color: var(--point-color);
}

.commentMenu a::after {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 4px;
	background: black;
	transition: all 0.3s ease-out;
}
#crewHashTag {
	padding: 0;
}

.tag-item {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  background-color: rgb(253, 239, 123);
  color: #000;
  border-radius: 10px;
  display: inline-block;
  padding: 4px 7px;
  margin-right: 6px;
  font-size: 13px;
}
