<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.orl.crew.dao.Dao">

	<!-- Select 의 결과를 매핑하는 설정 -->
	<resultMap id="crewListResult"
		type="com.bitcamp.orl.crew.domain.Crew">
		<id column="crewIdx" property="crewIdx" />
		<result column="crewName" property="crewName" />
		<result column="crewPhoto" property="crewPhoto" />
		<result column="crewDiscription" property="crewDiscription" />
		<result column="crewCreatedate" property="crewCreatedate" />
		<result column="crewTag" property="crewTag" />
		<result column="memberIdx" property="memberIdx" />
	</resultMap>

	<!-- 관리자에서 사용 -전체 크루 리스트 -->
	<select id="selectCrewListByAdmin" resultMap="crewListResult">
		select * from crew
		order by crewIdx desc, crewCreatedate desc
	</select>
	
	<!-- Select 의 결과를 매핑하는 설정 -->
	<resultMap id="crewMemberListResult"
		type="com.bitcamp.orl.crew.domain.CrewMemberList">
		<id column="memberIdx" property="memberIdx" />
		<result column="memberId" property="memberId" />
		<result column="memberProfile" property="memberProfile" />
		<result column="memberNickName" property="memberNickName" />
		<result column="memberBirth" property="memberBirth" />
		<result column="crewRegdate" property="crewRegdate" />
		<result column="crewIdx" property="crewIdx" />
	</resultMap>
	
	<!-- 관리자에서 사용 -모든 크루 멤버 가져오는 리스트 -->
	<select id="selectAllCrewMemberList"
		resultMap="crewMemberListResult">
		select memberIdx, memberId, memberProfile, memberNickname, memberBirth, crewRegdate, crewIdx
		from member natural join crewreg
	</select>

	<!-- 게시물 총 개수 -->
	<select id="CrewCount" resultType="int">
		select count(*) from crew
	</select>

	<!-- 내가 가입한 크루 리스트 -->
	<select id="selectMyCrewList" resultMap="crewListResult">
		select *
		from final.crew
		where crewIdx in (select crewIdx from member natural join
		crewreg where
		memberIdx = #{memberIdx})
	</select>

	<!-- 해당 크루 하나 선택 -->
	<select id="selectCrew"
		resultType="com.bitcamp.orl.crew.domain.Crew">
		select * from crew where crewIdx = #{crewIdx}
	</select>

	<!-- 해당 크루의 크루원 수 -->
	<select id="selectCrewMemberNum" resultType="int">
		select count(*) from
		crewreg where crewIdx = #{crewIdx}
	</select>

	<!-- 해당 크루의 댓글 수 -->
	<select id="selectCrewCommentNum" resultType="int">
		select count(*)
		from crewComment where crewIdx = #{crewIdx}
	</select>

	<!-- 해당 크루에 내가 가입되어있는 지 여부 확인 -->
	<select id="selectCountMemberToRegCrew" resultType="int">
		select
		count(*) from crewreg where memberIdx = #{memberIdx} and crewIdx =
		#{crewIdx};
	</select>

	<!-- 크루 댓글 작성자 찾기 -->
	<select id="selectMemberByMemberIdx"
		resultType="com.bitcamp.orl.member.domain.Member">
		select * from member where memberIdx = #{memberIdx}
	</select>

	<!-- insert -->
	<insert id="insertCrewReg"
		parameterType="com.bitcamp.orl.crew.domain.CrewReg">
		insert into crewreg (memberIdx, crewIdx)
		values
		(#{memberIdx}, #{crewIdx})
	</insert>

	<!-- insert -->
	<insert id="insertCrew"
		parameterType="com.bitcamp.orl.crew.domain.Crew"
		useGeneratedKeys="true" keyProperty="crewIdx">
		insert into crew
		(crewName,crewPhoto,crewDiscription,crewTag,memberIdx,memberNickName)
		values (#{crewName}, #{crewPhoto}, #{crewDiscription}, #{crewTag},
		#{memberIdx}, #{memberNickName})
	</insert>

	<!-- delete -->
	<delete id="deleteCrew">
		delete from crew where crewIdx = #{crewIdx};
	</delete>

	<!-- update -->
	<update id="updateCrew">
		update crew
		set crewName = #{crewName}, crewPhoto =
		#{crewPhoto}, crewDiscription =
		#{crewDiscription}, crewTag =
		#{crewTag}
		where crewIdx = #{crewIdx};
	</update>

	<!-- update -->
	<update id="updateCrewWithoutPhoto">
		update crew
		set crewName = #{crewName},
		crewDiscription = #{crewDiscription}, crewTag
		= #{crewTag}
		where crewIdx
		= #{crewIdx};
	</update>

</mapper>