<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.op.member.dao.Dao">
<!-- 인터페이스의 full name을 namespace로 설정해야한다!!! -->


	<!-- Select 의 결과를 매핑하는 설정 -->
	<resultMap 	id="memberListResult" 
							type="com.bitcamp.op.member.domain.Member">
		<id column="idx" property="idx"/>
		<result column="memberid" property="memberid"/>
		<result column="membername" property="membername"/>
		<!-- <result column="password" property="password"/> -->
		<result column="memberphoto" property="memberphoto"/>
		<result column="regdate" property="regdate"/>
	</resultMap>






	<!-- sql tag 식별은 인터페이스의 메소드 이름과 일치 시킨다 -->
	<!-- 로그인을 위한 select -->
	<select id="selectByIdPw"					
					resultType="com.bitcamp.op.member.domain.Member"
	>
		select * from member where memberid=#{param1} and password=#{param2} 
	</select>
	
	<select id="selectById" resultType="int">
		select count(*) from member where memberid=#{mid}
	</select>
	
	<select id="selectByIdx"
					resultType="com.bitcamp.op.member.domain.Member"
	>
		select * from member where idx=#{idx}
	</select>
	
	
	
	
	
	
	<insert id="insertMember"
					parameterType="com.bitcamp.op.member.domain.Member"
					useGeneratedKeys="true"
					keyProperty="idx"
	>
		
		insert into member (memberid, password, membername, memberphoto)
		values (#{memberid}, #{password}, #{membername}, #{memberphoto})
	
	</insert>
	
	<update id="updateMember"
					parameterType="com.bitcamp.op.member.domain.Member"
	>
		update member
		set membername = #{membername}, password = #{password}
		where idx=#{idx}
		
	</update>
	
	<delete id="deleteMember" >
		delete from member where idx = #{idx}
	</delete>
	
	<!-- 전체 회원의 리스트 -->
	<!-- <select id="selectAll"
					resultType="com.bitcamp.op.member.domain.Member"
	> -->
	<select id="selectAll"
					resultMap="memberListResult"
	>
		select * from member order by idx
	</select>
	
	<!-- 페이징 처리가 가능한 회원 리스트 -->
	<select id="selectList"
					resultType="com.bitcamp.op.member.domain.Member"
	>
	select * from member
	
	
	 order by memberid limit #{param1}, #{param2}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		select count(*) from member
	</select>
	
	
	<!-- 검색을 통한 회원 리스트 -->
	<select id="selectMember"
					parameterType="com.bitcamp.op.member.domain.SearchType"
					resultType="com.bitcamp.op.member.domain.Member"
	>
	
			select * from member
				
			<where>
				<if test="searchType == 'id'">
					 <!-- memberid like concat('%', #{keyword},'%')	 -->
					 <include refid="searchId"/>
				</if>
				
				<if test="searchType == 'name'">
					 <!-- membername like concat('%', #{keyword},'%') -->
					 <include refid="searchName"/>
				</if>
				
				<if test="searchType == 'both'">
					 <include refid="searchId"/> 
					 <include refid="searchName"/>
				</if>
			</where>
	
	
	</select>
	
	
	
	<sql id="searchId">
		or memberid like concat('%', #{keyword},'%')
	</sql>
	
	<sql id="searchName">
		or membername like concat('%', #{keyword},'%')
	</sql>
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>