@charset "UTF-8";

#all{
    font-family: var(--text-sans);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    /* no-repeat:배경이미지 반복X */
     background:url("../../images/member/main.jpg") no-repeat center;
    background-size: cover;
}

#all::before{
    content:"";
    position:absolute; z-index:1;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,0.7); 
}

/* section 영역 전체 */
.content{
    position:relative;
    z-index:2;
}

.content h1{
    font-size: 32px;
    font-weight: lighter;
    color:#FDEF7B;
    text-align:center;
    letter-spacing: 5px;

    margin-bottom:30px;
}

.content p{
   font-size:15px;
    font-weight: lighter;
    color:#fff;
    background-color: transparent;
   text-align:center;

}

.btn-area{
    margin-top:40px;
    width:250px;
    height:50px;
    
    border:none;
    border-radius:10px;
   cursor:pointer;
   
   
   text-align:center;
   margin-left:100px;
}

.btn-area a{
  /*   width:70%;
    height:50px;
    background:#FDEF7B; */
    display:block;
    width:250px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#FDEF7B;
    
    font-size:15px;
    font-weight: 600;
    color:black;
    cursor:pointer;
}