@charset "UTF-8";

/* 기본 설정 */
* {
	padding: 0%;
	margin: 0%;
}

a {
	text-decoration: none;
	color: #000;
}
button, input {
	border: 0;
	background-color: #00ff0000;
}
button:hover, input:hover, a:hover {
	cursor: pointer;
}
.background {
	height: 1100px;
	background-color:#f8f8f8;
}
/* 기본 설정 끝 */

/* 뒤로가기 */
.pageBack {
	position: absolute;
	top: 230px;
	left: 350px;
}
.pageBack img {
	width: 70px;
}

/* 상세보기 전체 영역 */
.container_view {
	background-color:white;
	display: flex;
	position: relative;
	width: 1000px;
	height: 650px;
	top: 550px;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

/* 왼쪽 사진 영역 */
.v_leftbox {
	width: 55%;
	position: relative;
}
/* 사진 채워 넣기 */
.v_leftbox>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* 태그 아이콘 */
.v_leftbox>button>img {
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 30px;
}

/* 오른쪽 컨텐츠 영역 */
.v_rightbox {
	padding-left: 7px;
	width: 45%;
	display: flex;
	flex-direction: column;
}

/* 게시자 프로필 영역 */
.v_profile {
	position: relative;
	height: auto;
}
/* 게시자 프로필 사진 */
.v_photo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.v_profile img {
	margin: 30%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #C9C0AE;
}

/* 게시자 닉네임 */
.v_nickname{
	font-weight: bold;
}
.v_profile>a {
	position: absolute;
	left: 105px;
	top: 40px;
}

/* 수정 버튼 위치 */
.edit_div {
    position:absolute;
    right:100px;
    background-color: #fdef7b;
    border-radius: 5px;
    top: 30px;
}

/* 삭제 버튼 위치 */
.delete_div{
	position:absolute;
	right:25px;
	background-color: #fdef7b;
	border-radius: 5px;
	top: 30px;
}
/* 수정/삭제 버튼 디자인 */
.feedview_btn {
	display: block;
	width: 60px;
	line-height: 28px;
	text-align: center;
	font-size: 13px;
	color: #545454;
	cursor: pointer;
	border: 1px solid #C9C0AE;
	border-radius: 5px;
}

/* 게시 내용 영역 */
.contents {
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	height: auto;
	padding-bottom: 20px;
}
/* 게시글 */
.contents>p {
	padding-left: 25%;
	line-height: 1.5;
	font-size: 15px;
}
/* 해시태그 */
.contents>div {
	padding-top: 5px;
	padding-left: 25%;
}
.contents a {
	color: grey;
	font-size: 15px;
}

/* 댓글 영역 */
.commentbox {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 400px;
	border-top: 1px solid #C9C0AE;
}
.comments {
	position: relative;
	overflow: hidden;
	display: flex;
}
/* 댓글 작성자 프로필 */
.cmt-profile {
	padding-left:20px;
	padding-top: 18px;
}
.cmt-profile>button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.cmt-profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #C9C0AE;
}

/* 댓글 내용 */
.comment {
	padding-left: 25px;
	padding-top: 30px;
	padding-right: 20px;
	line-height: 1.4;
	font-size: 15px;
	overflow: hidden;
	height: auto;
    width: 350px;
}
.comment::-webkit-scrollbar {
	display: none;
}
.v_nickname {
	padding-right: 10px;
	font-weight: 600;
}
/* 댓글 삭제 영역 */
.comment_delete {
		
}
.delete_icon {
	width: 17px;
	position:absolute;
	top: 30px;
	right: 30px;
}

/* 댓글 입력창 */
.commentingbox {
	display: flex;
	flex-direction: column;
	bottom: 0;
	height: 160px;
	border-top: 1px solid #C9C0AE;
}
/* 댓글창 네비 */
.buttonline {
	display: flex;
	position: relative;
	justify-content: space-between;
	border-bottom: 1px solid #C9C0AE;
	padding-bottom: 5px;
}
.buttonline button {
	position: absolute;
	top: 10px;
}
.buttonline img {
	position: absolute;
	width: 25px;
}
.like {
	left: 20px;
}
.share {
	position: absolute;
	left: 65px;
	top: 9px;
}

/* 좋아요 개수 영역 */
.likeline {
	padding-top: 16px;
	padding-right: 20px;
}
.likeline>p {
	padding-bottom: 5px;
}

/* 댓글 입력 폼 */
.commentingline {
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.textbox {
	width: 85%;
}
.textbox>input {
	margin-left: 5%;
	outline: none;
	width: 95%;
	height: 100%;
	font-size: 17px;
}

/* 댓글 게시 */
.submitbox {
	width: 15%;
}
.submitbox>input {
	color: #00acee;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	height: 90%;
	padding-top: 10px;
}
