@charset "utf-8";


.back {
    position: relative; /* #wrapper에 투명도를 주면 컨텐츠도 같이 투명해지기 때문에.. */
}

.back:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/mountain/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;


}

.main, .search, .search_item_search,.main_item_2 {
    display: flex;
}

.main {
    width: 1400px;
    height: 1000px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.search_item_text {
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
}

.search_item_search {
    margin: 30px;
    border-bottom: 3px solid #222;
}


.search_input {
    border: none;
    height: 50px;
    width: 400px;
    padding: 0 5px;
    background: transparent;
    font-size: 16px;
    color: #424242;
    font-weight: 500;

}

.search_input:focus {
    outline: none;
}

#submit{
	font-size: 30px;
  color: #424242;
  cursor:pointer;
}

.main_item_2{
    flex-direction: column;
    justify-content: center;
}
